<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<%= will_paginate @images %>
<table class="table">
  <thead>
    <tr>
      <th>Path</th>
      <th>Img</th>
      <th>tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.shapenet_identifier %></td>
        <td><%= image_tag serve_images_path(image.shaded_path) %></td>
        <td><%= image.tag_list %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Ok', tag_image_path(image,  tag: 'Ok'), remote: true %></td>
        <td><%= link_to 'Default material only', tag_image_path(image,  tag: 'Default material only'), remote: true %></td>
        <td><%= link_to 'Strange normals', tag_image_path(image,  tag: 'Strange normals'), remote: true %></td>
        <td><%= link_to 'Strange albedo', tag_image_path(image,  tag: 'Just strange'), remote: true %></td>
        <td><%= link_to 'Two parts', tag_image_path(image,  tag: 'Two parts'), remote: true %></td>
        <td><%= link_to 'Just strange', tag_image_path(image,  tag: 'Just strange'), remote: true %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @images %>
